# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python files
[*.py]
indent_size = 4
max_line_length = 88

# Markdown files
[*.md]
max_line_length = 80
trim_trailing_whitespace = false
